<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/cloth/{{ item.cloth.id }}">
        <img [src]="item.cloth.imageUrl" />
      </a>
    </td>
    <td>
      {{ item.cloth.name }}
    </td>
    <td>
      {{ item.cloth.price | currency : "INR" : "symbol" }}
    </td>
    <td>
      {{ item.quantity }}
    </td>
    <td>
      {{ item.price | currency : "INR" : "symbol" }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong> Total : </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency : "INR" : "symbol" }}
      </strong>
    </td>
  </tr>
</table>
