.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
  font-family: sans-serif;
  margin-left: 0;
}

app .details {
  width: 28rem;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  line-height: 30px;
}

.error-list {
  color: red;
}

.button {
  margin-top: 20px;
  align-items: start;
}
